.nav-center {
	background-color: #04270d;
	overflow: hidden;
}

.nav-center a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	background-color: #894040;
}

.nav-center h4 {
	float: left;
	color: #f2f2f2;
	margin-left: 14px;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.btn {
	position: relative;
	top: 50%;
	left: 50%;
}