.calculator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 400px;
	width: 300px;
	background-color: floralwhite;
}

.screen {
	width: 90%;
	height: 20%;
	margin: 15px;
	/*border: 1px solid;*/
}

.inputScreen {
	width: 97%;
	height: 95%;
}


.operators {
	width: 90%;
	height: 10%;
	margin-left: 15px;
}

.operators button {
	margin-left: 2px;
	height: 100%;
	width: 23%;
	font-size: 20px;
}

.calcBody {
	height: 55%;
	width: 90%;
/*	border: 1px solid;
*/	margin: 15px;
}

.numbers {
	height: 100%;
	width: 73%;
	/*border: 1px solid;*/
	float: left;
}

.digit {
	height: 22%;
	width: 30%;
	margin-top: 3%;
	margin-left: 1.5%;
}

.enter {
	float: left;
	margin-left: 2%;
	margin-top: 2%;
	height: 100%;
	width: 24%;
}

.erase {
	height: 20%;
	margin-bottom: 10%;
	width: 100%;
}

.result {
	height: 74%;
	width: 100%;
}

